@charset "utf-8";
h2 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	column-fill: auto;
	column-count: 2;
	text-align: justify;
	padding-top: 20px;
	
	
}
img {
	display: block;
	margin-left: auto;
	margin-right: 160px;
	margin-bottom: 180px;
	
}