@charset "utf-8";
ul {
    list-style-type: none;
    margin: 19px;
    padding: 1px;
    overflow: hidden;
    background-color: #9BA681;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 17px;
    position: relative;
    text-align: center;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none
}
li a:hover {
    background-color: #4C5722;
    color: #FFFFFF;
}